body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.game-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    object-fit: contain;
}
